name: main
on:
  push:
    tags:
      - v*.*.*
    branches:
      - "*"
permissions:
  contents: write
  discussions: write
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: |
          mkdir annotations
          cp -r local/ annotations/local/
          zip -r annotations.zip annotations/
      - name: Release zip
        # Only release when a tag is pushed, which triggered this workflow
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: annotations.zip
          fail_on_unmatched_files: true
          generate_release_notes: true
          make_latest: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - id: setup-steamcmd
        uses: CyberAndrii/setup-steamcmd@v1.2.0
      - id: setup-steam-dir
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          mkdir "/home/runner/Steam/config"
          echo "${{ secrets.STEAM_CONFIG_VDF }}" | base64 "/home/runner/Steam/config/config.vdf"
          chmod 777 "/home/runner/Steam/config/config.vdf"
      - id: update_workshop
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          python src/workshop.py --steam_account_name ${{ secrets.STEAM_ACCOUNT_NAME }} --steam_cmd ${{ steps.setup-steamcmd.outputs.executable }}